*.iml
*.ipr
*.iws
.idea/
.vscode/

.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock

*.g.dart
lib/l10n/app_localizations*.dart

.env
.env.local

android/local.properties
android/key.properties
**/android/**/GeneratedPluginRegistrant.java

ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
**/ios/**/GeneratedPluginRegistrant.*

.DS_Store